
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}
<!-- Báo lỗi -->
@if (ViewBag.Error != null)
{
    <script>alert(@ViewBag.Error.ToString())</script>
}
<!-- Login Admin -->
<form class="form-default" action="/Login/Login" method="POST">

    <div class="login-form">
        <!-- logo-login -->
        <div class="logo-login">
            <a href="/My/Index"><img src="~/MyAssets/assets/img/logo/loder.png" alt=""></a>
        </div>
        <h2>Đăng nhập</h2>
        <div class="form-input">
            <label for="name">Email</label>
            @if (ViewBag.EmailError != null)
            {
                <input type="email" name="email" placeholder="* @ViewBag.EmailError">
            }
            else
            {
                <input type="email" name="email" placeholder="Email">
            }
        </div>
        <div class="form-input">
            <label for="name">Mật khẩu</label>
            @if (ViewBag.PasswordError != null)
            {
                <input type="password" name="password" placeholder="* @ViewBag.PasswordError">
            }
            else
            {
                <input type="password" name="password" placeholder="Mật khẩu">
            }
        </div>
        <div class="form-input pt-30">
            <input type="submit" name="submit" value="Đăng nhập">
        </div>

        <!-- Forget Password -->
        <a href="#" class="forget">Quên mật khẩu</a>
        <!-- Forget Password -->
        <a href="/Login/Register" class="registration">Đăng ký tài khoản</a>
    </div>
</form>
<!-- /end login form -->
