
@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<!-- Slider Area Start-->
<div class="slider-area slider-bg ">
    <!-- Single Slider -->
    <div class="single-slider d-flex align-items-center slider-height2">
        <div class="col-md-7" style="margin-left:20px">
            <h1 style="color:aliceblue;margin-bottom:10px">Khóa học C++</h1>
            <iframe class="col-md-12" style="height:64vh" src="https://www.youtube.com/embed/WS05AU6YYm4"></iframe>
        </div>
        <div class="col-md-4" style="background-color:aliceblue;margin-right:20px;margin-left:10px;height:70vh">
            <table style="margin-top:30px;font-size:20px;color:black" class="pre-scrollable">
                <tr>
                    <th>Đang phát: Bài 1: Tổng quan khóa học</th>
                </tr>
                <tr>
                    <td><hr /></td>
                </tr>
                <tr>
                    <td><a href="#" style="color:darkslategray">Bài 1: Tổng quan khóa học</a></td>
                </tr>
                <tr>
                    <td><a href="#" style="color:darkslategray">Bài 2: Giới thiệu về C++</a></td>
                </tr>
                <tr>
                    <td><a href="#" style="color:darkslategray">Bài 3: Xây dựng chương trình C++ đầu tiên</a></td>
                </tr>
                <tr>
                    <td><a href="#" style="color:darkslategray">Bài 4: Cấu trúc một chương trình C++</a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="~/MyAssets/assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
