
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<!-- Slider Area Start-->
<div class="slider-area slider-bg ">
    <!-- Single Slider -->
    <div class="single-slider d-flex align-items-center slider-height2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 ">
                    <div class="hero__caption hero__caption2 text-center">
                        <h1 data-animation="fadeInLeft" data-delay=".6s ">Các khóa học hiện có của web</h1>
                        <p data-animation="fadeInLeft" data-delay=".8s">Lựa chọn khóa học bạn muốn tham gia và ấn "Tham gia khóa học"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="~/MyAssets/assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
<!--? Pricing Card Start -->
<section class="pricing-card-area pricing-card-area2 fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/MyAssets/assets/img/icon/price1.svg" alt="">
                        <h4>Lập trình C++</h4>
                        <p hidden>Nội dung khóa học</p>
                    </div>
                    <div class="card-mid">
                        <h4 hidden>$4.67 <span>/ month</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Nhập xuất</li>
                            <li>Sử dụng biến</li>
                            <li>Sử dụng hàm</li>
                            <li>Vòng lặp</li>
                            <li>Câu lệnh rẽ nhánh</li>
                            <li>Sử dụng mảng</li>
                        </ul>
                        <a href="#" class="borders-btn">Đã tham gia</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/MyAssets/assets/img/icon/price2.svg" alt="">
                        <h4>Lập trình D++</h4>
                        <p hidden>Nội dung khóa học</p>
                    </div>
                    <div class="card-mid">
                        <h4 hidden>$4.67 <span>/ month</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Nhập xuất</li>
                            <li>Sử dụng biến</li>
                            <li>Sử dụng hàm</li>
                            <li>Vòng lặp</li>
                            <li>Câu lệnh rẽ nhánh</li>
                            <li>Sử dụng mảng</li>
                        </ul>
                        <a href="#" class="borders-btn">Tham gia</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/MyAssets/assets/img/icon/price3.svg" alt="">
                        <h4>Lập trình E++</h4>
                        <p hidden>Nội dung khóa học</p>
                    </div>
                    <div class="card-mid">
                        <h4 hidden>$4.67 <span>/ month</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Nhập xuất</li>
                            <li>Sử dụng biến</li>
                            <li>Sử dụng hàm</li>
                            <li>Vòng lặp</li>
                            <li>Câu lệnh rẽ nhánh</li>
                            <li>Sử dụng mảng</li>
                        </ul>
                        <a href="#" class="borders-btn">Tham gia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Card End -->
